<!doctype html>
<html lang="en">
    <head>
        <meta charset="UTF-8"/>
	<!-- <meta name="viewport" content="width=device-width, intitial-scale=1.0"/> -->
        <title>M59 Login</title> 
	<link href="/static/app.css" rel="stylesheet"/>
    </head>
    <body>
	<div class="container">
	    <div class="title">Marina 59 Login</div>
	       <form action="#" method="post">
		<input name="user" id="input-username" type="text" value="" placeholder="email" />
		<input name="pw" id="input-password" type="password" value="" placeholder="password" />
		<button type="submit">Login</button>
	       </form>
	</div>
	
    </body>
</html>
