<!doctype html>
<html lang="en">
    <head>
        <meta charset="UTF-8"/>
	<!-- <meta name="viewport" content="width=device-width, intitial-scale=1.0"/> -->
        <title>M59 Login</title> 
	<link href="/static/app.css" rel="stylesheet"/>
    </head>
    <body>
	<div class="container">
	    <div class="title">Marina 59 Login	    </div>
	    <input name="" id="input-username" type="email" value="" placeholder="email" />
		<input name="" id="input-password" type="password" value="" placeholder="password" />
		<button type="submit">Login</button>

	</div>
	
    </body>
</html>
